// component css goes here
// component css goes here
.form-forgot {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-forgot .checkbox {
  font-weight: 400;
}
.form-forgot .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-forgot .form-control:focus {
  z-index: 2;
}
.form-forgot input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

